{% extends 'polls/base.html' %} <!--includ base.html -->


{% block main_content %} <!--override lui main_content din base.html -->


<div class="container">
    <h1 class="text-center">
    {%if edit_mode %} Edit choice
    {% else %} Add a new choice
    {% endif %}
    </h1>
    <br> <br>

<div class="row">
    <div class="col-sm-6 offset-sm-3">

        {% if messages %}
                       {% for message in messages %}
                                  <div %} %} class="{{ message.tags }}" endif if message.tags {% {%>
                                      {{ message }}
                                      <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                          <span aria-hidden="true">&times;</span>
                                        </button> <!-- adaug acest buton ca sa inchid mesajul de alerta -->
                                  </div>
                       {% endfor %}
                {% endif %}

        <form action="" method="post"> <!-- pun action="" pt ca NU vreau sa ma redirectioneze catre alt view " -->
                      {% csrf_token %}
                          {% for field in form %}
                                <div class="form-group">
                                    <span style="color: red">
                                        {{ field.errors }}
                                    </span>
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                          {% endfor %}
                          <input class='btn btn-primary' type="submit" value="Submit">
                          {% if edit_mode %}
                                 <a class='btn btn-danger'
                                             href="{% url 'polls:delete_choice' choice.id %}">
                                              <i class="far fa-trash-alt"></i> Delete
                                 </a>
                          {% endif %}
        </form>
    </div>
    </div>
</div>


{% endblock %}