
{% extends 'polls/base.html' %} <!--includ base.html -->


{% block main_content %} <!--override lui main_content din base.html -->
{% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %} > {{ message }}</li>
                    {% endfor %}
                </ul>
{% endif %}

<h1>{{ election.election_content }}</h1>
<div class="container">
    <div class="row">
        <div class="col">


<form action="{% url 'polls:vote' election.id %}" method="post"> <!-- polls=namespace din urls, vote=namespace din polls.urls -->
{% csrf_token %}
{% for choice in election.choice_set.all %}<!-- forloop.counter = asociaza fiecarui buton cate 1 id -->
    <input id="choice{{ forloop.counter }}" name="choice" type="radio" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
    <br>
{% endfor %}
<input %} %}disabled class="btn btn-success" endif if not type="submit" user_can_vote value="Vote" {% {%/>
</form>
<a href="{% url 'polls:index' %}"> <-Back to elections list</a>

        </div>
    </div>
</div>

<button onclick="myFunction()">Click me!</button>
<p id="demo"></p>
<script>
    function myFunction() {
        document.getElementById("demo").innerHTML = "Hello Dear Visitor";
    }
</script>

{% endblock %}