
{% extends 'polls/base.html' %} <!--includ base.html -->

{% block main_content %} <!--override lui main_content din base.html -->


<div style="text-align: left">
    <i class="far fa-clock" style="color:#1E7CCE"></i>
    <iframe allowTransparency="true"
            frameborder="0" height="18" src="http://free.timeanddate.com/clock/i7bxi1s8/tlde/fc1e7cce/tct/pct/ftb/tt0/tw0/tm1/td2/th1/ts1/ta1/tb2" width="157"></iframe>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1">

{% if messages %}
      {% for message in messages %}
                <div %} %} class="{{ message.tags }}" endif if message.tags {% {% >
                        {{ message }}
                         <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                         <span aria-hidden="true">&times;</span>
                         </button> <!-- adaug acest buton ca sa inchid mesajul de alerta -->
                </div>
      {% endfor %}

{% else %}
<div class="alert alert-warning alert-dismissible fade show">
    <strong>Warning!</strong> Once you press Vote, you can not reconsider your choice!
    <button class="close" data-dismiss="alert" type="button">&times;</button>
</div>

{% endif %}

<div class="offset-sm-2">

<br>

<h2 >{{ election.election_content }}</h2>

            <form action="{% url 'polls:vote' election.id %}" method="post"> <!-- polls=namespace din urls, vote=namespace din polls.urls -->
                {% csrf_token %}
                {% for choice in election.choice_set.all %}<!-- forloop.counter = asociaza fiecarui buton cate 1 id -->
                    <input id="choice{{ forloop.counter }}" name="choice" type="radio" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                    <br>
                {% endfor %}
<br>
            <div>
                <input class='btn btn-success' type="submit" value="Vote" />
                &nbsp &nbsp <!-- adaug spatii -->
            {% if not is_first_vote_for_this_election%}
                    <i class="fas fa-exclamation-triangle" style="color: crimson">
                     You voted already!</i>
            {% endif %} </div>

            </form>
            <a href="{% url 'polls:index' %}"> <-Back to elections list</a>
                        <p></p>

            <a href="{% url 'polls:votes_index' election.id %}" style="color: lightseagreen" >
              <i aria-hidden="true" class="fa fa-envelope"></i> <!-- + este luat din fontawesome.com -> icons -->
                <b>Casted Votes-></b>
            </a>
</div>
        </div>
    </div>
</div>

{% endblock %}