<nav class="navbar navbar-expand-md navbar-light fixed-top "style="background-color: #f8d7da">
 <a class="navbar-brand" href="{% url 'polls:home' %}" style="color:lightseagreen">Voote<b>5</b> </a>


 <div class="collapse navbar-collapse" id="navbarsExampleDefault">
   <ul class="navbar-nav mr-auto">
       <li class="nav-item">
               <a class="nav-link disabled" href="#"></a>
       </li>
     <li class="nav-item">
       <a class="nav-link" href="{% url 'polls:index' %}">Elections</a> <!-- polls=namespace-ul, index= name dat in polls.urls -->
     </li>
       <li class="nav-item">
                     <a class="nav-link disabled" href="#"></a>
             </li>
       <form class="form-inline my-2 my-lg-0" >
                  <input aria-label="Search" class="form-control mr-sm-2 "
                         name="searchElection" placeholder="Search"
                         type="text"
                         value="{{searchContent}}"> <!-- ca sa apara in Search ce a tastat User ul -->
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search election</button>
                </form>
   </ul>


<div class="navbar-nav ml-auto">

    {% if request.user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">Logout</a>
    {% else %}
    <a class="nav-item nav-link" href="{% url 'accounts:login' %}">Login</a>
    {% endif %}
</div>


&nbsp &nbsp <!-- pentru TABs -->
{% if request.user.is_authenticated %}
    {% if request.user.is_superuser %}
    <a href=""><i class="fas fa-person-booth"></i>Administrator </a>
    {% elif request.user.is_staff%}
    <a href=""><i class="fas fa-person-booth"></i>Staff</a>
    {% else %}
        <a href=""><i class="fas fa-person-booth"></i>User</a>
    {% endif %}
{%endif%}

 </div>
</nav>