<!--{% extends 'polls/base.html' %} &lt;!&ndash;includ base.html &ndash;&gt;-->

<!--{% load static %}-->
<!--<link href="{% static 'menu/style.css' %}" rel="stylesheet" type="text/css">-->

<!--{% block main_content %} &lt;!&ndash;override lui main_content din base.html &ndash;&gt;-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            <div id="home-content">-->

<!--                {% if request.user.is_authenticated %}-->
<!--                Hi, {{request.user.username}}-->
<!--                {% endif %}-->

<!--                <h1>PollMe- Get Started! </h1>-->
<!--                <img src="https://image.shutterstock.com/image-vector/heart-chat-bubble-icons-professional-260nw-703160551.jpg" />-->
<!--                <h3>Your Voice Matters!</h3>-->
<!--                <hr> &lt;!&ndash; trasez o linie subtire &ndash;&gt;-->
<!--                <button class="btn btn-light btn-lg" type="button">Get Started!</button>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--{% endblock %}-->

<!--</div>-->


