{% extends 'polls/base.html' %} <!--includ base.html -->

{% block main_content %}

<h1>Choose a question</h1>

{% if latest_question_list %}
    <ul> <!-- li= list item; ul=unordered list -->
    {% for question in latest_question_list %}
         <!-- polls:detail ca sa stiu ce view(detail) din care app(polls) -->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


{% endblock %}