{% extends 'polls/base.html' %} <!--includ base.html -->



{% block main_content %}

<div class="container">
    <h1 class="text-center">Welcome to poll list </h1>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">

            {% if messages %}
                   {% for message in messages %}
                              <div %} %} class="{{ message.tags }}" endif if message.tags {% {%>
                                  {{ message }}
                                  <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                      <span aria-hidden="true">&times;</span>
                                    </button> <!-- adaug acest buton ca sa inchid mesajul de alerta -->
                              </div>
                   {% endfor %}
            {% endif %}

<!--            polls= namespace dat in urls.py; add=ruta data in polls/urls.py-->
            <a class="btn btn-primary" href="{% url 'polls:add' %}" style="margin-bottom: 5px">Add
                <i aria-hidden="true" class="fa fa-plus"></i> <!-- + este luat din fontawesome.com -> icons -->
            </a>

            <ul class="list-group">
                {%for poll in polls%}
                           <li class="list-group-item ">
                               <a  href="{%url 'polls:detail' poll.id %}"><strong>{{poll}} </strong></a>
                                   <p></p>
                               <span style="color: darkcyan">From: <i>{{poll.start_date|date:"d M Y h:i A"}}</i>
                                                             To: <i>{{poll.end_date|date:"d M Y h:i A"}}</i>
                               </span>
                               {% if request.user == poll.owner %}
                                                              <a class="float-right" href="{%url 'polls:edit' poll.id %}"><i aria-hidden="true" class="fa fa-pencil"></i></a>
                                                              {% endif %}

<!--                               <a href="{%url 'polls:detail' poll.id %}">-->
<!--                                           <div class="text-lg-right">-->
<!--                                               <button class="btn btn-info" >VOTE-->
<!--                                               <i class="fa fa-pencil-square-o" aria-hidden="true"></i> &lt;!&ndash; + este luat din fontawesome.com -> icons &ndash;&gt;-->
<!--                                           </button>-->
<!--                                           </div>-->
<!--                               </a>-->
                           </li>
                {%endfor%}
            </ul>
        </div>
    </div>
</div>

<!-- pentru paginare:-->
{% if polls.has_other_pages %}
  <ul class="pagination">
    {% if polls.has_previous %}
      <li><a href="?page={{ polls.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in polls.paginator.page_range %}
      {% if polls.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if polls.has_next %}
      <li><a href="?page={{ polls.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
