{% extends 'polls/base.html' %} <!--includ base.html -->



{% block main_content %}

<div class="container">
    <h1 class="text-center">Welcome to poll list </h1>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">

            {% if messages %}
                   {% for message in messages %}
                              <div %} %} class="{{ message.tags }}" endif if message.tags {% {%>
                                  {{ message }}
                                  <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                      <span aria-hidden="true">&times;</span>
                                    </button> <!-- adaug acest buton ca sa inchid mesajul de alerta -->
                              </div>
                   {% endfor %}
            {% endif %}

<!--            polls= namespace dat in urls.py; add=ruta data in polls/urls.py-->
<!-- sortare dupa nume: -->
            <a class="btn btn-{% if 'title' in request.GET %}warning{%else%}primary{%endif%}"
               href="?title=True" style="margin-bottom: 5px">
<!-- btn-warning(galben) daca este activ, altfel btn-primary(albastru) -->
<!-- pot pune orcie in loc de =True pt ca practic verific daca se afla in dictionary(adica daca a fost apasat)-->
                A-Z  <!-- href="?title=True" ca sa fac btn-warning -->
            </a>

            <a class="btn btn-primary" href="{% url 'polls:add' %}" style="margin-bottom: 5px">
                Add
                <i class="fa fa-plus"></i> <!-- + este luat din fontawesome.com -> icons -->
            </a>

            <ul class="list-group">
                {%for poll in polls%}
                           <li class="list-group-item ">
                               <a  href="{%url 'polls:detail' poll.id %}"><strong>{{poll}} </strong></a>
                               {% if request.user == poll.owner %}
                                      <a class="float-right" href="{%url 'polls:edit' poll.id %}">
                                      <i aria-hidden="true" class="fa fa-pencil"></i></a>
                               {% endif %}
                                   <p></p>

                               <span style="color: darkcyan">From: <i>{{poll.start_date|date:"d M Y h:i A"}}</i>
                                                 To: <i>{{poll.end_date|date:"d M Y h:i A"}}</i>
                               </span>
                               {% if poll.can_see_results  %}
                               <a class="float-right" href="{%url 'polls:results' poll.id %}">
                               <i aria-hidden="true" class="fa fa-bar-chart"></i>Results
                               {%endif%}


                           </li>
                {%endfor%}
            </ul>
        </div>
    </div>
</div>

<!-- pentru paginare:-->
{% if polls.has_other_pages %}
  <ul class="pagination">
    {% if polls.has_previous %}
<!--      pun &{{params}} pt ca toate paginile sa fie sortate alfabetic at cand este selectat A-Z-->
      <li><a href="?page={{ polls.previous_page_number }}&{{params}}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in polls.paginator.page_range %}
      {% if polls.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}&{{params}}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if polls.has_next %}
      <li><a href="?page={{ polls.next_page_number }}&{{params}}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
