{% extends 'polls/base.html' %} <!--includ base.html -->

{% block main_content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            {% if messages %}
                         {% for message in messages %}
                                    <div %} %} class="{{ message.tags }}" endif if message.tags {% {%>
                                        {{ message }}
                                        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                            <span aria-hidden="true">&times;</span>
                                          </button> <!-- adaug acest buton ca sa inchid mesajul de alerta -->
                                    </div>
                         {% endfor %}
                  {% endif %}

            <div style="text-align: center;"><h2>Change password </h2>
            <br><br>
            <form method="post">
              {% csrf_token %}
<!--              {{ form }}-->
              {% for field in form %}
                                       <div class="form-group">
                                           <span style="color: darkcyan"><b>{{ field.label_tag }}</b></span>
                                           <br>
                                           {{ field }}

                                       </div>
              {% endfor %}

                <span style="color: red; text-align: left">
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </span>
                <br>
                <button class="btn btn-primary" type="submit">Save changes</button>
            </form>
            </div>

        </div>
    </div>

</div>







{% endblock %}