
#unselected_choice{
   color: red;
     background-color: lightblue;
}
unselected_choice{
   color: red;
     background-color: lightblue;
}

.unselected_choice{
   background-color: lightblue;
   color: red;
}

.error{
    color:red;
}